footer{
    .estiloFooter {
        background-color: #111;
        display: grid;
        width: 100vw;
        height: 50px;
        .contenedorFooter{
            .listaFooter {
                display: flex;
                gap: 1rem;
                .top {
                    position: absolute;
                    right: 50px;
                    &:hover {
                        text-decoration: underline;
                        background-color: #7a6e6e75;
                        cursor: pointer;
                        border-radius: 5px;
                        padding: 0px 14px 5px 14px;
                        transform: scale(1.09);
                        transition: all ease .5s;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 770px) {
    footer{
        .estiloFooter {
            height: 40px;
            .contenedorFooter{
                .listaFooter {
                    .top {
                        position: absolute;
                        right: 10px;
                        &:hover {
                            padding: 0px 9px 5px 9px;
                        }
                    }
                }
            }
        }
    }
}
