footer{
    .estiloFooter {
        background-color: $secundario;
        display: grid;
        width: 100vw;
        height: 50px;
        .contenedorFooter{
            .listaFooter {
                display: flex;
                gap: 1rem;
                .top {
                    position: absolute;
                    right: 50px;
                    &:hover {
                        text-decoration: underline;
                        background-color: $color-Hover;
                        cursor: pointer;
                        border-radius: 5px;
                        transform: scale(1.09);
                        transition: all ease .5s;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 770px) {
    footer{
        .estiloFooter {
            height: 45px;
            .contenedorFooter{
                .listaFooter {
                    .top {
                        position: absolute;
                        right: 10px;
                    }
                }
            }
        }
    }
}
