main{
    .flexRow{
        display: flex;
        .infoImg{
            @include infoImge(45vw, 650px, 450px);
        }
        .infoImgLast{
            margin-bottom: 50px;
        }
        .infoDescripcion{
            font-size: map-get($descripcion, textTam);
            color: map-get($descripcion, textColor);
        }
    }
    .flexReverse{
        display: flex;
        flex-direction: row-reverse;
        .infoImg{
            @include infoImge(45vw, 650px, 450px);
        }
        .infoDescripcion{
            font-size: map-get($descripcion, textTam);
            color: map-get($descripcion, textColor);
        }
    }
}
@media only screen and (max-width: 770px) {
    main{
        .flexRow{
            display: block;
            .infoImg{
                @include infoImge(90vw, 340px, 280px);
            }
            .infoImgLast{
                margin-bottom: 0px;
            }
            .infoDescripcion{
                font-size: 15px;
            }
        }
        .flexReverse{
            display: block;
            .infoImg{
                @include infoImge(90vw, 340px, 280px);
            }
            .infoDescripcion{
                font-size: 15px;
            }
        }
    }
}