main{
    .flexRow{
        display: flex;
        .infoImg{
            @include infoImge(45vw, 650px, 450px);
            view-timeline-name: --image;
            view-timeline-axis: block;
            animation-timeline: --image;
            animation-name: zoomOut;
            animation-range: entry 25% cover 50%;
        }
        .infoDescripcion{
            font-size: map-get($descripcion, textTam);
            color: map-get($descripcion, textColor);
        }
    }
    .flexReverse{
        display: flex;
        flex-direction: row-reverse;
        .infoImg{
            @include infoImge(45vw, 624px, 416px);
            view-timeline-name: --image;
            view-timeline-axis: block;
            animation-timeline: --image;
            animation-name: zoomIn;
            animation-range: entry 25% cover 50%;
        }
        .infoImgLast{
            margin-bottom: 50px;
        }
        .infoDescripcion{
            font-size: map-get($descripcion, textTam);
            color: map-get($descripcion, textColor);
        }
    }
}
@media only screen and (max-width: 770px) {
    main{
        .flexRow{
            display: block;
            .infoImg{
                @include infoImge(80vw, 1520px, 300px);
            }
            .infoDescripcion{
                font-size: 15px;
            }
        }
        .flexReverse{
            display: block;
            .infoImg{
                @include infoImge(80vw, 1520px, 300px);
            }
            .infoImgLast{
                margin-bottom: 0px;
            }
            .lastDescripcion{
                padding-bottom: 70px;
            }
            .infoDescripcion{
                font-size: 15px;
            }
        }
    }
}