* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ethnocentric";
  src: url(../media/fonts/ethnocentric\ rg.otf);
}
a,
label,
p {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
a a:hover,
label a:hover,
p a:hover {
  text-decoration: underline;
  background-color: rgba(122, 110, 110, 0.4588235294);
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 13px 7px 13px;
  transform: scale(1.09);
  transition: all ease 0.5s;
}

body {
  background-color: #212121;
  height: 100vh;
  width: 100vw;
}

main {
  margin: 60px 0px;
  padding-bottom: 60px;
}
main .mainEmpresa {
  margin: -110px 0px -70px 0px;
}
main .mainEmpresa .carousel-item-empresa {
  height: 100vh;
  min-height: 300px;
}
main .mainEmpresa .carousel-item-empresa .w-100-empresa {
  height: 100vh;
}
main .mainEmpresa .carousel-item-empresa .carousel-caption-empresa {
  position: relative;
  bottom: 500px;
}
main .mainEmpresa .carousel-item-empresa .carousel-caption-empresa h2 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  color: #fff;
}
main .mainEmpresa .carousel-item-empresa .carousel-caption-empresa p {
  width: 60%;
  margin: auto;
  margin-top: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.9;
}
main .mainEmpresa .carousel-item-empresa .carousel-caption-empresa a {
  text-transform: uppercase;
  text-decoration: none;
  background: #333;
  padding: 10px 30px;
  display: inline-block;
  color: #000;
  margin-top: 15px;
}
main h1 {
  color: rgba(255, 255, 255, 0.6862745098);
  background-color: #333;
  text-align: center;
  font-size: 30px;
}
main .historia h1 {
  color: #fff;
  background-color: rgba(51, 51, 51, 0.3568627451);
  position: absolute;
  top: 60px;
  z-index: 1;
}
main .container-xxl .row .col-lg-4 .row .col-12 .carousel {
  background-color: rgba(33, 33, 33, 0.6235294118);
  height: 400px;
}
main .container-xxl .row .col-lg-4 .row .col-12 .carousel .imgCarrusel {
  max-width: 350px;
}
main .container-xxl .row .col-lg-4 .row .col-12 .marcas {
  font-size: 20px;
  background-color: #333;
}
main .container-xxl .row .logo {
  margin: auto;
  padding: 20px 0px;
}

ul li {
  list-style: none;
}

@media only screen and (max-width: 770px) {
  a,
  label,
  p {
    font-size: 14px;
  }
  .aRight {
    position: static;
    text-wrap: nowrap;
  }
  a:hover {
    padding: 5px 9px;
  }
  .top > a:hover {
    padding: 0px 9px 5px 9px;
  }
  .estiloFooter {
    height: 40px;
  }
  main {
    margin: 60px 0px;
  }
  .facebook {
    width: 80vw;
  }
  .top {
    position: absolute;
    right: 10px;
  }
  .tituloG:hover {
    padding: 2px;
    margin-left: 2px;
    transform: scale(1.08);
  }
  .infoImg {
    width: 90vw;
    height: 300px;
  }
  .flexRow {
    display: block;
  }
  .flexReverse {
    display: block;
  }
  .carousel-caption-empresa {
    bottom: 565px;
  }
  .carousel-caption-empresa h2 {
    font-size: 17px;
    margin-top: 220px;
  }
  .carousel-caption-empresa a {
    padding: 10px 15px;
    font-size: 15px;
  }
  .carousel-caption-empresa p {
    font-size: 11px;
    margin-right: 50px;
  }
  h1 {
    font-size: 16px;
    text-wrap: nowrap;
  }
  .historia h1 {
    margin-left: 20px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 350px) {
  .historia h1 {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
