* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "ethnocentric";
  src: url(../media/fonts/ethnocentric\ rg.otf);
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #212121;
  height: 93vh;
  width: 100vw;
}

main {
  width: 96vw;
  margin: 60px 0px 0px 0px;
  padding-bottom: 60px;
}

a,
label,
p {
  color: #c9c9c9;
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  text-decoration: underline;
  background-color: #67d2da;
  color: #1c1211;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 13px 7px 13px;
  transform: scale(1.09);
  transition: all ease 0.5s;
}

h1 {
  color: #c9c9c9;
  background-color: #333;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

li {
  list-style: none;
}

@media only screen and (max-width: 770px) {
  a,
  label,
  p {
    font-size: 14px;
  }
  a:hover {
    padding: 5px 9px;
  }
  main {
    margin: 60px 0px 80px 0px;
  }
  h1 {
    font-size: 18px;
  }
}
@keyframes fadeLeft {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes fadeRight {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
@keyframes zoomOut {
  from {
    opacity: 0;
    scale: 115%;
    overflow-x: hidden;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
header .navBar {
  background-color: #1c1211;
}
header .navBar div .tituloG {
  color: #bad9e4;
  font-size: 16px;
  text-shadow: rgb(255, 208, 0) 1px 0 5px;
  font-family: "ethnocentric", sans-serif;
  transition: all 300ms;
}
header .navBar div .tituloG:hover {
  padding: 5px 13px;
  color: #1c1211;
}
header .navBar div div ul li .liNav {
  color: #c9c9c9;
}
header .navBar div div ul li .liNav:hover {
  color: #1c1211;
}
header .navBar div div ul li .aRight {
  position: absolute;
  right: 5px;
  text-wrap: nowrap;
}
header .navBar div div ul li .aRight:hover {
  padding: 5px 13px;
  color: #1c1211;
  text-wrap: nowrap;
}
@media only screen and (max-width: 770px) {
  header .navBar div div ul li .aRight {
    position: static;
  }
}
header .navBar div div ul li .current {
  background-color: #3dd1ff;
  color: #1c1211;
  border-radius: 5px;
  text-decoration: underline;
  padding: 5px 13px 7px 13px;
}

.home .container-xxl .row .col-lg-4 .row .col-12 .marcas {
  color: #c9c9c9;
  background-color: #333;
  font-size: 20px;
}
.home .container-xxl .row .col-lg-4 .row .col-12 .carousel {
  background-color: rgba(33, 33, 33, 0.6235294118);
  height: 400px;
}
.home .container-xxl .row .col-lg-4 .row .col-12 .carousel .carousel-inner .carousel-item .imgCarrusel {
  width: 350px;
}
.home .container-xxl .row .col-lg-4 .row .col-12 form button a {
  color: white;
  padding: 6px 56px;
}
.home .container-xxl .row .col-lg-4 .row .col-12 form button a:hover {
  text-decoration: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 0;
  transform: scale(1);
}
@media only screen and (max-width: 768px) {
  .home .container-xxl .row .col-lg-4 .row .col-12 form button a {
    padding: 6px 41px;
  }
  .home .container-xxl .row .col-lg-4 .row .col-12 form button a:hover {
    padding: 0;
  }
}
.home .container-xxl .row .logo {
  margin: auto;
  padding: 20px 0px;
}
.home .container-xxl .row .logo .logoImg {
  display: block;
  margin-top: -15%;
  width: 100%;
}
.home .container-xxl .row .logo .logoAuto {
  display: flex;
  width: 50%;
  margin-top: -20%;
  margin-left: 25%;
}

@media only screen and (max-width: 991px) {
  .home {
    padding-top: 40px;
  }
  .boton {
    margin-bottom: 70px;
  }
}
main {
  margin: 60px 0px 0px 0px;
}
main .flexRow {
  display: flex;
}
main .flexRow .infoImg {
  width: 45vw;
  max-width: 650px;
  height: 450px;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: zoomIn;
  animation-range: entry 25% cover 50%;
}
main .flexRow .infoImgLast {
  margin-bottom: 50px;
}
main .flexRow .infoDescripcion {
  font-size: 20px;
  color: #c9c9c9;
  margin: auto;
  text-align: center;
}
main .flexReverse {
  display: flex;
  flex-direction: row-reverse;
}
main .flexReverse .infoImg {
  width: 45vw;
  max-width: 650px;
  height: 450px;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: zoomIn;
  animation-range: entry 25% cover 50%;
}
main .flexReverse .infoDescripcion {
  font-size: 20px;
  color: #c9c9c9;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 770px) {
  main .flexRow {
    display: block;
  }
  main .flexRow .infoImg {
    width: 90vw;
    max-width: 340px;
    height: 280px;
    animation-name: zoomIn;
  }
  main .flexRow .infoImgLast {
    margin-bottom: 0px;
  }
  main .flexRow .lastDescripcion {
    padding-bottom: 70px;
  }
  main .flexRow .infoDescripcion {
    font-size: 15px;
  }
  main .flexReverse {
    display: block;
  }
  main .flexReverse .infoImg {
    width: 90vw;
    max-width: 340px;
    height: 280px;
  }
  main .flexReverse .infoDescripcion {
    font-size: 15px;
  }
}
main {
  margin: 60px 0px 0px 0px;
}
main .flexRow {
  display: flex;
}
main .flexRow .infoImg {
  width: 45vw;
  max-width: 650px;
  height: 450px;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: zoomIn;
  animation-range: entry 25% cover 50%;
}
main .flexRow .infoDescripcion {
  font-size: 20px;
  color: #c9c9c9;
}
main .flexReverse {
  display: flex;
  flex-direction: row-reverse;
}
main .flexReverse .infoImg {
  width: 45vw;
  max-width: 624px;
  height: 416px;
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: zoomIn;
  animation-range: entry 25% cover 50%;
}
main .flexReverse .infoImgLast {
  margin-bottom: 50px;
}
main .flexReverse .infoDescripcion {
  font-size: 20px;
  color: #c9c9c9;
}

@media only screen and (max-width: 770px) {
  main .flexRow {
    display: block;
  }
  main .flexRow .infoImg {
    width: 90vw;
    max-width: 1520px;
    height: 300px;
  }
  main .flexRow .infoDescripcion {
    font-size: 15px;
  }
  main .flexReverse {
    display: block;
  }
  main .flexReverse .infoImg {
    width: 90vw;
    max-width: 1520px;
    height: 300px;
    animation-name: zoomIn;
  }
  main .flexReverse .infoImgLast {
    margin-bottom: 0px;
  }
  main .flexReverse .lastDescripcion {
    padding-bottom: 70px;
  }
  main .flexReverse .infoDescripcion {
    font-size: 15px;
  }
}
.box {
  margin: 40px 0px 0px 0px;
  padding: 0;
}
.box div .tPrincipal {
  background-color: rgba(0, 0, 0, 0.616);
  color: #c9c9c9;
  font-weight: bold;
  border-radius: 10px;
  z-index: 1;
  position: fixed;
  top: 60px;
  margin-left: 34%;
  margin-right: 34%;
}
@media only screen and (max-width: 768px) {
  .box div .tPrincipal {
    margin: 0;
    border-radius: 5px;
  }
}
.box .empresa {
  width: 100vw;
  height: 90vh;
  margin: 0;
}
.box .empresa div .botones {
  margin-left: -1500px;
}
.box .empresa div div div {
  width: 100%;
  height: 100%;
}
.box .empresa div div div .imgEmpresa {
  display: block;
  height: 90vh;
  margin: auto;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  .box .empresa div div div .imgEmpresa {
    width: 150vw;
    height: 90vh;
    margin-left: -90px;
  }
}
.box .empresa div div div .carouselCaption {
  display: flex;
}
.box .empresa div div div .carouselCaption .titulo {
  color: #c9c9c9;
  position: fixed;
  left: 50px;
  top: 150px;
  animation-delay: 0.5s;
}
@media only screen and (max-width: 768px) {
  .box .empresa div div div .carouselCaption .titulo {
    background-color: rgba(0, 0, 0, 0.616);
    top: 45%;
  }
}
.box .empresa div div div .carouselCaption .historiaUno, .box .empresa div div div .carouselCaption .historiaTres, .box .empresa div div div .carouselCaption .historiaDos {
  display: block;
  color: #c9c9c9;
  margin-top: 20%;
  margin-left: 55%;
  width: 29vw;
  animation-delay: 1s;
}
@media only screen and (max-width: 768px) {
  .box .empresa div div div .carouselCaption .historiaUno, .box .empresa div div div .carouselCaption .historiaTres, .box .empresa div div div .carouselCaption .historiaDos {
    background-color: rgba(0, 0, 0, 0.616);
    margin-top: 110%;
    margin-left: 15%;
    height: 155px;
    width: 65vw;
  }
}
.box .empresa div div div .carouselCaption .historiaDos {
  width: 23vw;
  margin-top: 15%;
  margin-left: 60%;
}
@media only screen and (max-width: 768px) {
  .box .empresa div div div .carouselCaption .historiaDos {
    background-color: rgba(0, 0, 0, 0.616);
    margin-top: 110%;
    margin-left: 15%;
    height: 32%;
    width: 65vw;
  }
}
.box .empresa div div div .carouselCaption .historiaTres {
  width: 21vw;
  margin-top: 10%;
  margin-left: 60%;
}
@media only screen and (max-width: 768px) {
  .box .empresa div div div .carouselCaption .historiaTres {
    background-color: rgba(0, 0, 0, 0.616);
    margin-top: 110%;
    margin-left: 15%;
    height: 35%;
    width: 65vw;
  }
}
.box .empresa div div div .carouselCaption .saberMas {
  animation-delay: 1.5s;
  position: fixed;
  bottom: 55px;
  right: 5vw;
}
.box .empresa div div div .carouselCaption .saberMas .aEmpresa {
  background-color: #3dd1ff;
  color: #000;
  border-radius: 5px;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-wrap: nowrap;
}

main div .row div form div button a {
  color: white;
  padding: 6px 56px;
}
main div .row div form div button a:hover {
  text-decoration: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 0;
  transform: scale(1);
}
@media only screen and (max-width: 768px) {
  main div .row div form div button a {
    padding: 6px 30px;
  }
  main div .row div form div button a:hover {
    padding: 0;
  }
}

.error {
  padding: 0;
  margin: 0;
}
.error div {
  width: 100vw;
  height: 40px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.error div img {
  width: 50%;
  margin-top: 90px;
}
@media only screen and (max-width: 768px) {
  .error div img {
    width: 90%;
    margin-top: 190px;
  }
}
.error div h1 {
  position: fixed;
  top: 80px;
  width: 100vw;
  background-color: #67d2da;
  color: #1c1211;
}
.error div div button {
  position: fixed;
  bottom: 55px;
  right: 5vw;
  border-radius: 5px;
}
.error div div button a {
  background-color: #3dd1ff;
  color: #000;
  border-radius: 5px;
  padding: 10px 30px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-wrap: nowrap;
}

footer .estiloFooter {
  background-color: #1c1211;
  display: grid;
  width: 100vw;
  height: 50px;
}
footer .estiloFooter .contenedorFooter .listaFooter {
  display: flex;
  gap: 1rem;
}
footer .estiloFooter .contenedorFooter .listaFooter .top {
  position: absolute;
  right: 50px;
}
footer .estiloFooter .contenedorFooter .listaFooter .top:hover {
  text-decoration: underline;
  background-color: rgba(122, 110, 110, 0.4588235294);
  cursor: pointer;
  border-radius: 5px;
  transform: scale(1.09);
  transition: all ease 0.5s;
}

@media only screen and (max-width: 770px) {
  footer .estiloFooter {
    height: 45px;
  }
  footer .estiloFooter .contenedorFooter .listaFooter .top {
    position: absolute;
    right: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
