* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "ethnocentric";
    src: url(../media/fonts/ethnocentric\ rg.otf);
}

body {
    background-color: #212121;
    height: 100vh;
    width: 100vw;
}

main {
    margin: 60px 0px 0px 0px;
    padding-bottom: 60px;
}

.mainEmpresa{
    margin: -60px 0px -60px 0px;
    padding-bottom: -60px;
}

a,
label,
p {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
    background-color: #7a6e6e75;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 13px 7px 13px;
    transform: scale(1.09);
    transition: all ease .5s;
}

h1{
    color: #ffffffaf;
    background-color: #333;
    text-align: center;
    font-size: 30px;
}

.historia h1{
    color: #fff;
    background-color: #3333335b;
    position: absolute;
    top: 60px;
    z-index: 1;
    margin-left: 35%;
    margin-right: 35%;
}

.aRight {
    position: absolute;
    right: 5px;
    text-wrap: nowrap;
}

li {
    list-style: none;
}

.estiloFooter {
    background-color: #111;
    display: grid;
    width: 100vw;
    height: 50px;
}

.listaFooter {
    display: flex;
    gap: 1rem;
}

.tituloG {
    color: #bad9e4;
    font-size: 15px;
    text-shadow: rgb(255, 208, 0) 1px 0 5px;
    font-family: "ethnocentric", sans-serif;
}

.carousel {
    background-color: #2121219f;
    height: 400px;
}

.marcas {
    color: #ffffffaf;
    background-color: #333;
    font-size: 20px;
}

.imgCarrusel {
    width: 350px;
}

.top {
    position: absolute;
    right: 50px;
}

.top>a:hover {
    text-decoration: underline;
    background-color: #7a6e6e75;
    cursor: pointer;
    border-radius: 5px;
    padding: 0px 14px 5px 14px;
    transform: scale(1.09);
    transition: all ease .5s;
}

.logo {
    margin: auto;
    padding: 20px 0px;
}

.infoImg{
    width: 48vw;
    max-width: 624px;
    height: 416px;
}

.flexRow{
    display: flex;
}

.flexReverse{
    display: flex;
    flex-direction: row-reverse;
}

.w-100-empresa {
	height: 100vh;
}

.carousel-item-empresa {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption-empresa {
    position: relative;
    bottom: 500px;
}

.carousel-caption-empresa h2 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    color: #fff;
}

.carousel-caption-empresa p {
    width: 60%;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.9;
}

.carousel-caption-empresa a {
    text-transform: uppercase;
    text-decoration: none;
    background: #333;
    padding: 10px 30px;
    display: inline-block;
    color: #000;
    margin-top: 15px;
}

@media only screen and (max-width: 770px) {
    a,
    label,
    p {
        font-size: 14px;
    }

    .aRight {
        position: static;
        text-wrap: nowrap;
    }

    a:hover {
        padding: 5px 9px;
    }

    .top>a:hover {
        padding: 0px 9px 5px 9px;
    }

    .estiloFooter {
        height: 40px;
    }

    main {
        margin: 60px 0px;
    }

    .facebook {
        width: 80vw;
    }

    .top {
        position: absolute;
        right: 10px;
    }

    .tituloG:hover {
        padding: 2px;
        margin-left: 2px;
        transform: scale(1.08);
    }

    .infoImg{
        width: 90vw;
        height: 300px;
    }

    .flexRow{
        display: block;
    }
    
    .flexReverse{
        display: block;
    }

    .carousel-caption-empresa {
        bottom: 565px;
    }

    .carousel-caption-empresa h2 {
        font-size: 17px;
        margin-top: 220px;
    }

    .carousel-caption-empresa a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .carousel-caption-empresa p {
        font-size: 11px;
        margin-right: 50px;
    }

    h1{
        font-size: 16px;
    }

    .historia h1{
        margin-left: 20px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 350px) {
    .historia h1{
        margin-top: 40px;
    }
}